/* removes default aspects of code */
/* (*) is considered a universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font and color for body */
body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}

/* HEADER START */
header {
    padding: 20px 35px;
    background-color: #39a6b2;
}

/* apply styles to header h1 "run buddy" */
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

/* removes underlines and changes color */
header a{
    text-decoration: none;
    color: #fce138;
}

/* moves navigation links to the right side of page */
header nav {
    float: right;
    margin: 7px 0;
}

/* puts navigation links in line instead of column */
header nav ul li {
    display: inline;
}

/* changes margins and font of navigation links*/
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

/* HEADER END */
/* FOOTER START */

/* changes background width and padding */
footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
}

/* adjusts footer h2 */
footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

/* adjusts footer div */
footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

/* changes footer color */
footer a {
    color: #024e76;
}

/* FOOTER END */
/* HERO BOX START */

section {
    padding: 60px;
}
.hero {
    background-image: url("../images/hero-bg.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}
.hero-form {
    color: #024e76;
    background-color: #fce138;
    padding: 20px;
    width: 500px;
    border-style: solid;
    border-width: 3px;
    border-color: #024e76;
    position: absolute;
    bottom: 120px;
    right: 140px;
}
.hero-form p {
    margin: 5px 0px 15px 0px;
}
.hero-form h3{
    margin: 0px;
    font-size: 24px;
}
.hero-form label {
    margin:0 5px;
}
.hero-form button {
    color: #fce138;
    background-color: #024e76;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}
.form-input {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
}
/* HERO STYLE END */