/* removes default aspects of code */
/* (*) is considered a universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font and color for body */
body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}

/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: #39a6b2;
}

/* apply styles to header h1 "run buddy" */
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

/* removes underlines and changes color */
header a{
    text-decoration: none;
    color: #fce138;
}

/* moves navigation links to the right side of page */
header nav {
    float: right;
    margin: 7px 0;
}

/* puts navigation links in line instead of column */
header nav ul li {
    display: inline;
}

/* changes margins and font of navigation links*/
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

/* end of styles to <header> */
/* begin styles for <footer> */

/* changes background width and padding */
footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
}

/* adjusts footer h2 */
footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

/* adjusts footer div */
footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

/* changes footer color */
footer a {
    color: #024e76;
}

/* end styles for footer */